/*noinspection CssUnknownTarget*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --black: #181E41;
    --grisfonce: #404040;
    --white: #FFFFFF;
    --purple: #671AE4;
    --mauve: #C79DF8;
    --jaune: #FDC500;
    --jaune2: #FFD500;
    --degrade: linear-gradient(90deg, rgba(255, 213, 0, 1) 0%, rgba(253, 197, 0, 1) 100%);
}

.dark {
    --purple: black;
    --black: black;
    --mauve: #181E41;
    --white: #eaeaea;
}

header {
    background-color: var(--purple);
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 1.5em;
    z-index: 10000;
}

header .logo {
    position: relative;
    display: inline-flex;
    text-decoration: none;
    color: white;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

header .logo img {
    width: 2.5em;
}

.rightSide {
    display: flex;
}

.btns {
    position: relative;
    font-size: 1.5em;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 10px;
}

.btns ion-icon {
    font-size: 1.5em;
    color: white;
}

.btns .menuToggle ion-icon {
    font-size: 3em;
}

.btns ion-icon:nth-child(2) {
    display: none;
}

.btns.active ion-icon:nth-child(2) {
    display: block;
}

.btns.active ion-icon:nth-child(1) {
    display: none;
}

main {
    position: relative;
    background-color: var(--purple);
    width: 100%;
    min-height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

main.index h1 {
    color: var(--white);
    /*white-space: nowrap;*/
    /*overflow: hidden;*/
    /*border-right: 3px solid;*/
    /*animation: typing 4s steps(44), blink .5s step-end infinite alternate;*/
}

/*@keyframes typing {*/
/*    from {*/
/*        width: 0*/
/*    }*/
/*}*/

/*@keyframes blink {*/
/*    50% {*/
/*        border-color: transparent*/
/*    }*/
/*}*/

.jaune {
    color: var(--jaune);
}

.navigation {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: var(--purple);
    z-index: 4;
    transition: ease-in-out 0.5s;
}

.navigation.active {
    left: 0;
}

.navigation li {
    list-style: none;
}

.navigation li a {
    display: inline-flex;
    margin: 5px 0;
    font-size: 3.25em;
    text-decoration: none;
    padding: 5px 20px;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--purple);
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 2px;
    letter-spacing: 0.08em;
}

.navigation li a:hover {
    color: white;
}

.reseaux {
    background-color: var(--black);
    padding: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media (max-width: 600px) {
    .reseaux {
        flex-direction: column;
    }
}

.reseaux a:not(:last-child) {
    margin-right: 15px;
}

.link {
    display: flex;
    align-items: center;
    text-align: center;
}

@media (max-width: 600px) {
    .link div {
        width: 100vw;
    }

    .link {
        flex-direction: column;
    }
}

@media (min-width: 600px) {
    .link div {
        width: 50vw;
    }
}

.link div {
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 3em;
}

.liens a {
    text-decoration: none;
}

.link .apropos {
    height: 50vh;
    display: flex;
    background-color: var(--mauve);
    color: var(--white);
    align-items: center;
    justify-content: center;
}

.link .apropos.active {
    background-color: var(--white);
    color: var(--mauve);
}

.link .projets {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--mauve);
    background-color: var(--white)
}

.link .projets.active {
    background-color: var(--mauve);
    color: var(--white);
}

footer {
    padding: 2em;
    background-color: black;
    color: white;
    text-align: center;
}

footer h2 {
    font-weight: 200;
}

footer a, main.contact a {
    color: var(--white);
}

footer a:hover, main.contact a:hover {
    color: var(--jaune2);
}

@media (max-width: 600px) {
    footer form, main.contact form {
        flex-direction: column;
    }

    footer form section, main.contact form section {
        width: 70vw;
    }
}

footer form, main.contact form {
    margin: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-size: 1.3em;
}

body > main > form > section:nth-child(2) > input[type=text], body > footer > form > section:nth-child(2) > input[type=text] {
    height: 13.5em;
}

footer form section, main.contact form section {
    display: flex;
    flex-direction: column;
}

@media (min-width: 600px) {
    footer form, main.contact form {
        flex-direction: row;
    }

    footer form section, main.contact form section {
        width: 40vw;
    }

    footer form section:nth-child(1), main.contact section:nth-child(1) {
        margin-right: 2em;
    }
}

footer form input, main.contact input {
    background: none;
    padding: 0.3em;
    border-width: 0;
    border-block: none;
    border-bottom: white 1px solid;
    color: white;
    margin-bottom: 1em;
}

#contact {
    background: var(--black);
}

#contact li a {
    color: var(--black);
}

#contact li a:hover {
    color: white;
}

main.contact input::placeholder, footer form input::placeholder {
    color: #d2d2d2;
}

header.contact, main.contact {
    background-color: var(--black);
}

main.contact, main.page-projet {
    flex-direction: column;
}

main.contact h2 {
    color: var(--white);
}

main.contact h3 {
    margin-bottom: 2em;
}

.btnform {
    background: var(--degrade);
    margin-top: 2em;
    width: 7em;
    align-self: center;
    padding: 0.7em;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btnform:hover {
    background: var(--jaune2);
}

.reseauxsoc {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 1em;
}

.reseauxsoc a {
    background-color: var(--grisfonce);
    margin-right: 1em;
    border-radius: 30px 60px;
    padding: 0.5em;
}

.reseauxsoc a:hover {
    background-color: var(--white);
}

/*Scroll down animation*/


#scroll-down-animation {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 20%;
}

#scroll-down-animation:hover {
    opacity: 100%;
}

#scroll-down-animation h2 {
    color: #fff;
    margin-top: 1em;
    font-weight: 200;
    text-transform: lowercase;
    font-size: 1em;
}

.mouse {
    margin: 0 auto;
    cursor: pointer;
    display: block;
    border-radius: 50px;
    border: 2px solid #fff;
    height: 100px;
    width: 50px;
    position: relative;
}

.move {
    position: absolute;
    background-color: #fff;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    animation: move 2s linear infinite;
}

@keyframes move {
    0% {
        transform: translate(-50%, 10px);
        opacity: 0;
    }
    50% {
        transform: translate(-50%, 40px);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, 80px);
        opacity: 0;
    }
}

/*Portfolio*/

section.projets {
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 40px auto;
}

section.projets ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-top: 50px;
}

section.projets ul li {
    list-style: none;
    background: var(--white);
    color: var(--purple);
    padding: 12px 20px;
    margin: 5px;
    letter-spacing: 1px;
    cursor: pointer;
}

section.projets ul li.active {
    background-color: var(--jaune);
    color: var(--black);
}

section.projets h1 {
    margin-top: 40px;
    margin-bottom: -30px;
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin: 40px 0;
}

@media (max-width: 800px) {
    .portfolio {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .portfolio {
        grid-template-columns: repeat(1, 1fr);
    }
}

.workBx {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
}

.workBx .imgBx {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(0);
    transition: 0.5s ease-in-out;
}

.workBx:hover .imgBx {
    transform: translateY(-100%);
}

.portfolio img {
    width: 100%;
}

.workBx .textBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--degrade);
    display: flex;
    justify-content: center;
    place-items: center;
    transform: translateY(100%);
    transition: 0.5s ease-in-out;
}

.workBx:hover .textBx {
    transform: translateY(0);
}

.textBx h3 {
    color: var(--black);
    font-size: 1em;
}

/*Page a propos*/

.page-apropos {
    padding: 3em;
}

.page-apropos img {
    width: 50%;
    margin: 1em;
    border-radius: 120px;
}

.page-apropos h1 {
    margin-bottom: 1em;
}

.page-apropos p {
    text-align: left;
    margin: 1em;
}

section.apropos {
    color: var(--white);
}

@media (max-width: 600px) {
    main.page-apropos {
        flex-direction: column;
    }
}

.services {
    background-color: var(--mauve);
    color: var(--white);
    padding: 1em;
}

.services h1, p {
    text-align: center;
}

.title h1 {
    position: relative;
    color: var(--white);
    letter-spacing: 2px;
    margin-bottom: 30px;
}

.title h1:before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
    width: 50px;
    height: 2px;
    background: var(--jaune2);
}

.services .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin: 40px 0;
}

.services .content .serviceBox {
    border: 1px solid var(--purple);
    cursor: pointer;
    padding: 50px 20px;
    display: flex;
    background: var(--purple);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.services .content .serviceBox:hover {
    background: var(--mauve);
}

.services .content .serviceBox img {
    max-width: 50px;
}

.services .content .serviceBox h2 {
    font-size: 1.1em;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 600;
    color: var(--jaune);
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.services .content .serviceBox p {
    text-align: center;
}

@media (max-width: 600px) {
    .services .content {
        grid-template-columns: repeat(1, 1fr);
    }

    .page-apropos img {
        width: 75%;
    }
}

/*Page projet */

.page-projet h1 {
    margin-top: 3em;
}

@media (max-width: 600px) {
    .projet-grille {
        flex-direction: column;
    }
}

.listes {
    color: var(--white);
    text-align: left;
}

.listes h2 {
    background: var(--white);
    color: var(--purple);
    padding: 5px;
    letter-spacing: 1px;
    margin-top: 1em;
}

.listes a {
    color: var(--white);
    text-decoration: none;
}

.listes a:hover {
    color: var(--jaune2);
}

.listes p {
    text-align: left;
}

.projet-grille {
    display: flex;
    align-items: center;
    justify-content: center;
}

.description {
    width: 50%;
    margin-left: 2em;
    color: var(--white);
}

.description p {
    text-align: left;
    text-indent: 1em;
}

.description p::first-letter {
    font-size: 2em;
}
